registry=https://registry.npmjs.org/
@rms:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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

# pnpm
strict-peer-dependencies=false
save-workspace-protocol=rolling
save-prefix=''