registry=https://registry.npmjs.org/
@rms:registry=https://npm.pkg.github.com/
# Set GITHUB_TOKEN environment variable to your zshrc/bashrc with your own personal token
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# pnpm
strict-peer-dependencies=false
# below 2 configs are so pnpm installs local sibling dependencies as workspace:*
# https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=rolling
save-prefix=''