.size {
  &_h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    letter-spacing: -1px;
  }

  &_h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
  }

  &_h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
  }

  &_b1 {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
  }

  &_b2 {
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2);
  }

  &_b3 {
    font-size: var(--font-size-b3);
    line-height: var(--line-height-b3);
  }

  &_sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &_xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }
}

.weight {
  &_regular {
    font-weight: var(--font-weight-regular);
  }

  &_semibold {
    font-weight: var(--font-weight-semibold);
  }

  &_bold {
    font-weight: var(--font-weight-bold);
  }
}

.color {
  &_black100 {
    color: var(--color-black-100);
  }

  &_black200 {
    color: var(--color-black-200);
  }

  &_black300 {
    color: var(--color-black-300);
  }

  &_orange100 {
    color: var(--color-orange-100);
  }

  &_orange200 {
    color: var(--color-orange-200);
  }

  &_orange300 {
    color: var(--color-orange-300);
  }

  &_grey100 {
    color: var(--color-grey-100);
  }

  &_grey200 {
    color: var(--color-grey-200);
  }

  &_grey300 {
    color: var(--color-grey-300);
  }

  &_gold100 {
    color: var(--color-gold-100);
  }

  &_gold200 {
    color: var(--color-gold-200);
  }

  &_blue {
    color: var(--color-blue);
  }

  &_white {
    color: var(--color-white);
  }

  &_yellow {
    color: var(--color-yellow);
  }

  &_red {
    color: var(--color-red);
  }

  &_pink {
    color: var(--color-pink);
  }

  &_green {
    color: var(--color-green);
  }

  &_paletteOne100 {
    color: var(--color-palette-one-100);
  }

  &_paletteOne200 {
    color: var(--color-palette-one-200);
  }

  &_paletteOne300 {
    color: var(--color-palette-one-300);
  }

  &_paletteOne400 {
    color: var(--color-palette-one-400);
  }

  &_paletteOne500 {
    color: var(--color-palette-one-500);
  }

  &_paletteTwo100 {
    color: var(--color-palette-two-100);
  }

  &_paletteTwo200 {
    color: var(--color-palette-two-200);
  }

  &_paletteTwo300 {
    color: var(--color-palette-two-300);
  }

  &_paletteTwo400 {
    color: var(--color-palette-two-400);
  }

  &_paletteTwo500 {
    color: var(--color-palette-two-500);
  }

  &_paletteThree100 {
    color: var(--color-palette-three-100);
  }

  &_paletteThree200 {
    color: var(--color-palette-three-200);
  }

  &_paletteThree300 {
    color: var(--color-palette-three-300);
  }

  &_paletteThree400 {
    color: var(--color-palette-three-400);
  }

  &_paletteThree500 {
    color: var(--color-palette-three-500);
  }

  &_paletteThree600 {
    color: var(--color-palette-three-600);
  }

  &_paletteThree700 {
    color: var(--color-palette-three-700);
  }

  &_paletteThree800 {
    color: var(--color-palette-three-800);
  }

  &_paletteThree900 {
    color: var(--color-palette-three-900);
  }

  &_paletteThree1000 {
    color: var(--color-palette-three-1000);
  }

  &_paletteFour100 {
    color: var(--color-palette-four-100);
  }

  &_paletteFour200 {
    color: var(--color-palette-Four-200);
  }

  &_paletteFour300 {
    color: var(--color-palette-Four-300);
  }

  &_paletteFour400 {
    color: var(--color-palette-Four-400);
  }

  &_paletteFour500 {
    color: var(--color-palette-Four-500);
  }

  &_paletteFive100 {
    color: var(--color-palette-five-100);
  }

  &_paletteFive200 {
    color: var(--color-palette-five-200);
  }

  &_paletteFive300 {
    color: var(--color-palette-five-300);
  }

  &_paletteFive400 {
    color: var(--color-palette-five-400);
  }

  &_paletteFive500 {
    color: var(--color-palette-five-500);
  }
}
